// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

body {
    background-color: #F0E2BA;
}

.navbar{
    color: #F0E2BA;
}

.nav-link-active{
    color: #214F4B;
}

a{
    color: black;
}

.btn{
    background-color:#214F4B;
    border-color: #214F4B;
}
